<div class="min-h">
  <h5 class="mt-3">DDS VFO</h5>
  <p class="text-justify">A DDS VFO for the 80m single band transceiver, based on the DDS signal generator. The
    differences are in the firmware and in the band-pass output filter. With the 14-bit DAC of the AD9951, the signal
    should be clean enough for a local oscillator, without the need of a multi-loop frequency synthesizer:</p>
  <ul>
    <li>Frequency range: 5.000 - 5.500MHz</li>
    <li>AD9951 DDS</li>
    <li>PIC16F886 microcontroller</li>
    <li>Optical rotary encoder</li>
    <li>16x2 LCD panel</li>
    <li>Band-pass output filter</li>
  </ul>
</div>
