# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# output
/dist
/tmp
/out-tsc

# Angular
/node_modules/
package-lock.json
