<div class="min-h">
  <h5 class="mt-3">DDS Signal Generator</h5>
  <p class="text-justify">A signal generator for a home lab:</p>
  <ul>
    <li>Frequency range: 20Hz - 30MHz</li>
    <li>AD9951 DDS</li>
    <li>100MHz external crystal clock generator with 4x internal multiplication</li>
    <li>PIC16F886 microcontroller</li>
    <li>Rotary encoder</li>
    <li>16x2 LCD panel</li>
    <li>Fs low-pass output filter</li>
  </ul>
  <p class="text-justify">Note: all these projects are in progress, parts have been ordered, requirements can change.</p>
</div>
