<div class="container">
  <div class="d-flex flex-row mt-3 rounded" style="background-image: url('../assets/linen40.jpg');">
    <img src="../assets/me.jpg" alt="My picture" class="rounded">
    <h1 class="m-auto" style="font-family: 'Sriracha', cursive;">VA3AUI</h1>
  </div>
  <router-outlet></router-outlet>
  <div class="d-flex justify-content-center mx-0 my-3 p-3 rounded" style="background-image: url('../assets/linen40.jpg');">
    <i style="font-family: 'Sriracha', cursive; font-size: small;">Written by <a href = "mailto:mstoyanovca@gmail.com?subject=VA3AUI">Martin Stoyanov</a>, Milton, Ontario</i>
  </div>
</div>
